# LOCAL SECRETS ONLY - DO NOT COMMIT
TELEGRAM_BOT_TOKEN=local_test_token
TELEGRAM_DECISIONS_CHAT_ID=-1000000000001
TELEGRAM_REVIEW_CHAT_ID=-1000000000002
TELEGRAM_SUMMARIES_CHAT_ID=-1000000000003
TELEGRAM_WARNINGS_CHAT_ID=-1000000000004
TELEGRAM_ALARMS_CHAT_ID=-1000000000005
TELEGRAM_DEBUG_CHAT_ID=-1000000000006
SECURITY_PROFILE=research_local
ENABLE_REAL_DISPATCH=false
CONFIRM_RISKY_COMMANDS=true
